<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Peliculas')}"></head>
    <body>
        <main>
            <div class="container px-4 pb-5">
                <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Peliculas')}"></nav>
                <h1 class="pb-2 border-bottom">Lista de Peliculas</h1>
                <a class="btn btn-primary mt-4 mb-4" th:href="@{'/index/newpelicula'}">Nueva Pelicula</a>
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Fecha de Estreno</th>
                            <th>Duracion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pelicula, info : ${listaPeliculas}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${pelicula.titulo}"></td>
                            <td th:text="${pelicula.fechaestreno}"></td>
                            <td th:text="${pelicula.duracionminutos}"></td>
                            <td><a class="btn btn-primary" th:href="@{'/index/editpelicula' + '?id=' + ${employee.id}}">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>