<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Creacion')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Peliculas')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Nuevo Transportista</h2>
                    <div th:if="${errorCompany != null}" th:text="${errorCompany}" class="alert alert-danger"
                         role="alert"></div>
                    <hr/>
                    <form method="post" th:action="@{'/index/save'}">
                        <div class="mb-3">
                            <label class="form-label">Titutlo de la pelicula</label>
                            <input  type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Duracion</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha de estreno</label>
                            <input type="text" class="form-control" th:field="*{}">
                        </div>
                        <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>